<a href="{{ path|default(app.request.headers.get('referer')) }}" class="button h-button is-light is-dark-outlined">
    <span class="icon">
      <i class="lnir lnir-arrow-left rem-100"></i>
    </span>
    <span>{{ 'drako.ui.cancel'|trans }}</span>
</a>


