<div class="ui buttons">
    {% include 'UiBundle/Form/Buttons/_cancel.html.twig' with {'path': paths.cancel|default(null)} %}
    {% include 'UiBundle/Form/Buttons/_update_simple.html.twig' %}
</div>
